/*
To compile:
0.  Visit https://github.com/jonycheung/deadsimple-less-watch-compiler
1.  Open Terminal
2.  Type this code at the project folder:
    less-watch-compiler less css
*/
@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=Rubik:400,500";
@import "_variables.less";
@import "_mixins.less";

/*---General Setting---*/
body{
  padding-top: 100px;
  color: @color-black;
  font-family: @font-primary;
  font-size: 18px;
  overflow-x: hidden;
  @media only screen and (max-width: 768px) {
    padding-top: 80px;
    font-size: 16px;
  }
}
h1{
  font-weight: 500;
  font-style: 48px;
  line-height: 48px;
  margin-bottom: 20px;
  @media only screen and (max-width: 768px) {
    font-size: 32px;
    line-height: 40px;
  }
}
h2{
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 20px;
  @media only screen and (max-width: 768px) {
    font-size: 24px;
    line-height: 35px;
  }
}
a{
  color: @color-black;
}
a:hover{
  color: @color-primary;
  text-decoration: none;
}
p{
  opacity: .8;
  line-height: 30px;
  margin-bottom: 20px;
}
ul{
  opacity: .8;
  line-height: 30px;
  -webkit-padding-start: 24px;
}
.pattern{
  position: absolute;
  z-index: -1;
}
.graphic{
  z-index: 3;
}

/*---Navigation Bar---*/
.navbar{
  padding: 15px 0px;
  .navbar-logo{
    height: 40px;
  }
  .navbar-right{
    padding-top: 2px;
    a{
      margin-right: 60px;
      opacity: .8;
    }
    .btn-primary{
      width: 150px;
      opacity: .8;
    }
  }
  @media only screen and (max-width: 768px) {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    padding: 15px 15px;
    .navbar-logo{
      height: 30px;
    }
    .navbar-right{
      display: none;
    }
  }
}

.navbar-fixed-top.scrolled {
  background-color: rgba(255,255,255,0.95) !important;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  transition: all 200ms linear;
  .btn-primary{
    opacity: 1;
  }
}


/*---Banner---*/
.banner{
  padding-top: 40px;
  .banner-text{
    position: relative;
    margin-top: 90px;
    .btn-primary{
      margin-top: 30px;
      width: 220px;
    }
  }
  .banner-image{
    text-align: right;
    position: relative;
    .graphic{
      width: 585px;
    }
    .pattern-a{
      height: 170px;
      top:-40px;
      left:-40px;
      &:extend(.pattern);
    }
    .pattern-b{
      height: 120px;
      top:120px;
      right:-60px;
      &:extend(.pattern);
    }
  }
  @media only screen and (max-width: 768px) {
    .banner-text{
      margin-top: 60px;
      .btn-primary{
        margin-top: 10px;
      }
    }
    .banner-image{
      text-align: center;
      .graphic{
        width: 100%;
      }
      .pattern-a{
        top:-40px;
        left:-70px;
      }
      .pattern-b{
        height: 100px;
        top:60px;
        right:-30px;
        &:extend(.pattern);
      }
    }
  }
}

/*---Content---*/
.service-a{
  position: relative;
  padding-top: 180px;
  .graphic{
    width: 376px;
  }
  .pattern-a{
    height: 300px;
    &:extend(.pattern);
    top:-50px;
    left: -230px;
  }
  @media only screen and (max-width: 768px) {
    padding-top: 80px;
    .service-a-image{
      padding: 0px 40px;
    }
    .graphic{
      width: 100%;
    }
    .pattern-a{
      height: 280px;
      top:-50px;
      left: -120px;
    }
  }
}
.service-b{
  position: relative;
  padding-top: 150px;
  .graphic{
    width: 372px;
  }
  .pattern-a{
    &:extend(.pattern);
    height: 330px;
    top:-30px;
    right:-100px;
  }
  @media only screen and (max-width: 768px) {

  }
}
.team{
  padding-top: 100px;
  text-align: center;
  position: relative;
  .team-member{
    margin-top: 30px;
    .team-member-picture{
      padding: 0px 60px;
    }
  }
  .pattern-a{
    &:extend(.pattern);
    height: 330px;
    top:200px;
    left:-100px;
  }

}

.client{
  padding-top: 60px;
  text-align: center;
  .client-list{
    padding-top: 30px;
    img{
      margin: 0px 30px 30px 30px;
    }
  }
}

.cta{
  background: @color-black;
  color: @color-white;
  margin-top: 70px;
  .btn-primary{
    margin-top: 20px;
    width: 200px;
  }
  .container{
    padding-top: 80px;
    padding-bottom: 80px;
    background: url("../images/img-footer-plane.svg") no-repeat;
    background-position: bottom right 320px;
    background-attachment:fixed;
    @media only screen and (min-width: 1301px) and (max-width: 1600px) {
      background-position: bottom right 150px;
    }
    @media only screen and (min-width: 1201px) and (max-width: 1300px) {
      background-position: bottom right 100px;
    }
    @media only screen and (min-width: 0px) and (max-width: 1200px) {
      background-position: bottom right 0px;
    }
  }
  .graphic{
    width: 350px;
    margin-top: 80px;
  }
}

/*---Modal---*/
#ctaModal{
  .modal-dialog{
    width: 1000px;
    .modal-content{
      background: url("../images/img-popup-bg.svg") no-repeat #ffffff;
      background-position: top right 0px;
      border: 0px;
      .modal-body{
        padding-top: 50px;
        padding-bottom: 120px;
        padding-left: 50px;
        .marker{
          margin-top: 40px;
          width: 35px;
          height: 5px;
          display: block;
          background: linear-gradient(270deg, #F58B1E 0%, #F58B1E 10%, #ED2755 100%);
        }
        .close{
          font-size: 60px;
          margin-top: -40px;
        }
        h1{
          margin-top: 5px;
        }
        h3{
          color: @color-primary;
          font-size: 18px;
        }
      }
    }
  }
}

/*---Button---*/
.btn-primary {
  &:extend(.btn all);
  border: 0px;
  background: linear-gradient(270deg, #F58B1E 0%, #F58B1E 10%, #ED2755 100%) !important;
  border-radius: 30px;
  font-size: 18px;
}

.btn-primary:hover{
  box-shadow: 0px 8px 30px 0px rgba(0,0,0,0.25);
  transition: all 200ms ease;
}


/*---Responsive (Bootstrap Standard)---*/
/* Only Large devices (LG) */
@media only screen and (min-width: 1201px) {

}
/* Only Medium devices (MD) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {

}
/* Only Small devices (SM) */
@media only screen and (min-width: 769px) and (max-width: 992px) {

}
/* Only Extra Small devices (XS) */
@media only screen and (max-width: 768px) {

}
