// Color Variables
@color-black: #424242;
@color-white: #FFFFFF;
@color-grey-2: #616161;
@color-grey-1: #E0E0E0;
@color-grey-0: #FAFAFA;

// Font Variables
@font-primary: 'Roboto', sans-serif;
@font-secondary: 'Helvetica Neue',Helvetica,Arial,sans-serif;

//Fix Glyphicons Location
@icon-font-path: "../bower_components/bootstrap/fonts/";

// WMK Variables
@font-wmk-primary: 'Sarabun', sans-serif;

@color-wmk-theme-50: #E1F5FE;
@color-wmk-theme-100: #B3E5FC;
@color-wmk-theme-200: #81D4FA;
@color-wmk-theme-300: #4FC3F7;
@color-wmk-theme-400: #29B6F6;
@color-wmk-theme-primary: #03a9f4;
@color-wmk-theme-600: #039BE5;
@color-wmk-theme-700: #0288D1;
@color-wmk-theme-inactive: #3E97CA;

@color-wmk-white: #FFFFFF;
@color-wmk-grey-0: #fafbfe;
@color-wmk-grey-1: #e2e5eb;
@color-wmk-grey-2: #939eb2;
@color-wmk-grey-3: #758093;
@color-wmk-black: #2b3549;

@color-status-green: #2b3549;
@color-status-red: #2b3549;
@color-status-error: #2b3549;
