.nav-industry {
  border-bottom: 1px solid #cccccc;
  padding: 5px 15px;
  margin-bottom: 15px;
}

.nav-industry .fa-times {
  float: right;
  font-size: 24px;
  margin-top: 6px;
}

.nav-industry h4 {
  font-weight: bold;
  font-size: 16px;
}
