// Color Variables
@color-theme-primary: #E91F63;
@color-theme-secondary: #FF00FF;
@color-black1000: #000000;
@color-black700: #616161;
@color-black600: #757575;
@color-black100: #F5F5F5;
@color-green500: #4DAF4F;
@color-white: #FFFFFF;
@color-greybg: #F6F6F6;

// Font Variables
@font-primary: 'Prompt';
@font-secondary: 'Sarabun';

//Fix Glyphicons Location
@icon-font-path: "../bower_components/bootstrap/fonts/";
