/*
To compile:
0.  Visit https://github.com/jonycheung/deadsimple-less-watch-compiler
1.  Open Terminal
2.  Type this code at the project folder:
    less-watch-compiler less css
*/
@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "_variables.less";
@import "_mixins.less";

/*---General Setting---*/
body{
  font-size: 16px;
}
h1{
  font-size: 24px;
  margin-top: 0px;
  line-height: 34px;
}
h2{
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 5px;
  line-height: 24px;
}
h3{
  font-size: 18px;
  font-weight: bold;
}
h4{
  font-size: 16px;
}
label{
  font-weight: normal;
}
hr{
  border-top: 1px solid @color-grey-normal;
  margin: 15px 0px;
}
p{
  font-size: 14px;
}
a{
  color: @color-black;
}
.container{
  max-width: 600px;
}
.max-width{
  width: 100%;
}
.box-option{
  display: none;
}
.clear{
  clear: both;
}

/*---Navigation---*/
.navbar-inverse{
  background-color: @color-black;
  border: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  .navbar-header{
    margin: 0px;
    .navbar-brand{
      font-size: 20px;
      color:@color-white;
      img{
        margin-top: -4px;
        margin-right: 5px;
        display: inline-block;
      }
    }
    .btn-secondary{
      float: right;
      font-size: 14px;
      margin: 11px 0px 11px 15px;
      padding: 4px 5px;
    }
  }
}
.nav-login{
  background: @color-black;
  text-align: center;
  margin-bottom: 30px;
  width: 56px;
  padding: 20px 0px;
}
.nav-popup{
  border-bottom: 1px solid @color-grey-normal;
  padding: 5px 15px;
  margin-bottom: 15px;
  h4{
    font-weight: bold;
  }
  .fa{
    font-size: 24px;
    margin-top: 6px;
    float: right;
  }
}

/*---CPA Form---*/
.step{
  background: @color-grey-light;
  text-align: center;
  font-size: 14px;
  h3{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 2px;
  }
  .step-item{
    padding-bottom: 15px;
    color: @color-grey-normal;
    &.active{
      background: url("../images/step-item-active.png") no-repeat bottom;
      color: @color-black
    }
  }
}
.card{
  background: @color-grey-light;
  border: 1px solid @color-grey-normal;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 10px;
  .text-row{
    margin: 5px 0px;
    font-size: 14px;
    .left-text{
      font-weight: bold;
      width: 110px;
      text-align: right;
      display: inline-block;
      vertical-align: top;
    }
    .right-text{
      margin-left: 10px;
      display: inline-block;
      width: 170px;
      vertical-align: top;
      @media only screen and (min-width: 0px) and (max-width: 320px) {
        width: 130px;
      }
    }
  }
  .card-header{
    border-bottom: 1px solid @color-grey-normal;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 15px;
    .card-header-edit{
      float: right;
      font-size: 14px;
      cursor: pointer;
    }
  }
}

.option_empty{
  margin-bottom: 200px;
}

/*---Form---*/

.form-subtext{
  margin-top: 10px;
  font-size: 14px;
}
.input-group-addon{
  min-width: 60px;
  background: @color-grey-light;
  border: 2px solid @color-grey-normal;
}
.form-sm{
  width: 80px;
  display: inline-block;
}
.input-unit{
  display: inline-block;
  margin-left: 5px;
  margin-right: 15px;
}
.form-inline{
  margin-top: 5px;
  margin-bottom: 15px;

}


/*---Button---*/
.btn{
  padding: 10px;
  font-size: 16px;
}
.btn-primary {
  &:extend(.btn all);
  .button-variant(@color-white, @color-black, @color-black);
}
.btn-secondary {
  &:extend(.btn all);
  .button-variant(@color-black, @color-grey-light, @color-grey-light);
}
.btn-outline {
  &:extend(.btn all);
  border-width: 2px;
  .button-variant(@color-black, #ffffff, @color-grey-normal);
}
.btn-white {
  &:extend(.btn all);
  border-width: 2px;
  .button-variant(@color-black, #ffffff, #ffffff);
}
.two-btn-group{
  width: 100%;
  margin: 10px 0px 15px 0px;
  .btn{
    width: 50%;
  }
  .btn-outline:first-child{
    border-right-width: 1px;
  }
  .btn-outline:last-child{
    border-left-width: 1px;
  }
}
.btn-with-arrow{
  text-align: left;
  .fa{
    float: right;
    margin-top: 3px;
  }
}

/*---Modal---*/
.modal{
  .modal-body{
    padding: 30px;
    h3{
      margin-top: 10px;
    }
  }
}

/*---Page---*/
.page-header{
   margin: 30px 0 20px;
   border-bottom: 2px solid @color-grey-normal;
}
.page-title{
  margin-bottom: 10px;
  .page-title-main{
    float: left;
  }
  .page-title-support{
    float: right;
  }
}
.page-button{
   margin-bottom: 15px;
}
.button-left{
    padding-right: 0px;
}
.page-form{
  input.form-control{
    -webkit-appearance: none;
    -moz-appearance: none;          /* Removes Default Firefox style*/
  }
  select.form-control{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-color: white;
    height: 44px;
    padding: 0px 15px;
    background-image: url("../images/icon-dropdown.png");
    background-repeat: no-repeat;
    background-position: right center;
  }
  .form-control{
    height: 44px;
    padding: 20px 15px;
    box-shadow: none !important;
    border: 2px solid @color-grey-normal;
    font-size: 16px;
  }
}

.page-home{
  .home-banner{
    background: @color-grey-light;
    margin: 0px -15px;
    padding-top: 30px;
    padding-bottom: 30px;
    .btn{
      .button-variant(@color-black, #D4D4D4, #D4D4D4);
    }
  }
  .home-content{
    margin: 0px -15px 0px -15px;
    padding-bottom: 10px;
    text-align: center;
    .home-text{
      margin: 30px 0px;
      hr{
        width: 40px;
        margin: auto;
        border-width: 2px;
        margin-bottom: 15px;
      }
      h2{
        margin-bottom: 20px;
      }
      ol{
        text-align: left;
        li{
          margin-bottom: 10px;
        }
      }
    }
    .panel{
      padding: 10px 30px 0px 30px;
      h4{
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
  .page-button{
    text-align: center;
    background: @color-grey-light;
    margin: 0px -15px;
    padding: 30px 0px 40px 0px;
    h2{
      margin-bottom: 20px;
    }
  }
}

.page-login{
  h1{
    margin-bottom: 30px;
  }
  .btn-primary{
    margin-top: 40px;
  }
  .login-footer{
    border-top: 1px solid @color-grey-normal;
    padding-top: 20px;
    margin-top: 40px;
    text-align: center;
  }
}

.page-industry{
  .panel-title{
    a{
      display: block;
    }
    a:hover{
      text-decoration: none;
    }
    .fa{
      float: right;
    }
    border-color: @color-grey-normal;
  }
  .panel-body{
    padding: 0px;
    .btn-outline{
      padding-left: 15px;
      white-space: normal;
      text-align: left;
      border-radius: 0px;
      border-width: 1px;
    }
  }
}

.page-summary{
  h2{
    margin-top: 20px;
  }
  .card{
    margin: 20px 0px;
  }
  .card-title{
    h3 {
      float: left;
      margin: 0px;
      font-size: 16px;
    }
  }
  .card-title{
    .card-header-edit{
      float: right;
      font-size: 14px;
    }
  }
  .card-title {
    margin-top: 20px;
  }
}

.page-summary{
  .card {
   margin-top: 5px;
   margin-bottom: 20px;
 }
}

.page-tc{
  background: @color-grey-light;
  .page-title{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .tc-card{
    background: #ffffff;
  }
  .page-button{
    margin-top:20px;
  }
}

.page-otp{
  text-align: center;
  .card{
    background: #ffffff;
    border-width: 2px;
    margin-top: 30px;
  }
  .icon-otp{
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .pincode-input-container{
    margin-top:20px;
    margin-bottom: 10px;
    .pincode-input-text{
      border-color: @color-black;
      -webkit-appearance: none;
      background-color: #ffffff;
    }
  }
  .page-button{
    margin-top: 30px;
    p{
      color:@color-grey-dark;
      margin-top: 20px;
    }
  }
}

.page-loading{
  text-align: center;
  img{
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.page-result{
  text-align: center;
  .page-title-main{
    font-size: 20px;
  }
  .icon-result{
    margin-top: 20px;
  }
  small{
    color: @color-grey-dark;
  }
  h2{
    margin-top: 20px;
    line-height: 28px;
  }
  .result-amount{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
  }
  .icon-read-more{
    margin: auto;
    display: block;
    padding-bottom: 10px;
    background: @color-grey-light;
    margin: 20px -15px 0px -15px;
  }
  .result-contact{
    line-height: 28px;
  }
  .result-next{
    padding: 0px 15px 50px 15px;
    margin: 0px -15px 0px -15px;
    background: @color-grey-light;
    text-align: left;
    .icon-read-more{
      margin: auto;
      display: block;
    }
    h2{
      margin-top: 0px;
    }
    ol{
      -webkit-padding-start: 30px;
      li{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 30px;
        h3{
          font-size: 16px;
          margin-bottom: 0px;
          vertical-align: top;
        }
        span{
          display: block;
          font-size: 14px;
          font-weight: normal;
        }
        img{
          float: right;
          margin-right: 15px;
        }
      }
      ul{
        padding-left: 20px;
        li{
          font-weight: normal;
          font-size: 14px;
          margin-bottom: 0px;
        }
      }
    }
  }
  .footer{
    margin: -15px -15px -15px -15px;
    padding: 15px;
    text-align: left;
    background-color: @color-grey-normal;
    h4{
      font-size: 14px;
    }
    p{
      font-size: 12px;
    }
  }
}


/*---Responsive (Bootstrap Standard)---*/
/* Only Large devices (LG) */
@media only screen and (min-width: 1201px) {

}
/* Only Medium devices (MD) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {

}
/* Only Small devices (SM) */
@media only screen and (min-width: 769px) and (max-width: 992px) {

}
/* Only Extra Small devices (XS) */
@media only screen and (max-width: 768px) {
  .navbar-inverse{
    .navbar-header{
      .navbar-brand{
        padding-left: 0px;
      }
    }
  }
}
