/*--Tool to see Columns--*/

.asterix {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}

/*--Modify Fundamental Code--*/

h1{
  font-family: 'Mitr', sans-serif; font-size: 40px; font-weight: 300 !important;
  }

h1 span {
  background-color: black;
  padding-left: 10px;
  padding-right: 10px;
}

h2{
  font-family: 'Mitr', sans-serif; font-size: 30px;
  padding-top: 10px;
  padding-bottom: 5px;
  color: #1D1D1D;
  }

h3{
  font-family: 'Mitr', sans-serif; font-size: 30px;
  }

  h3 {
     width: 100%;
     text-align: center;
     border-bottom: 1px solid #000;
     line-height: 0.1em;
     margin: 10px 0 20px;
  }

  h3 Span {
      background:#fff;
      padding:0 10px;
  }

  h4{
    font-family: 'Mitr', sans-serif; font-size: 20px;
    }

p{
  font-family: 'Sarabun', sans-serif; font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #1D1D1D;
  }

/*--Atomic CSS--*/

    /*--Modify Object--*/

.center-title {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.Card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0px 2px 15px rgba(29, 29, 29, 0.12);
  border-radius: 5px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.GUNlogo {
  width: 280px;
  margin-bottom: 15px;
}

.TopPadding40{
  padding-top: 40px;
}

.TopPadding80{
  padding-top: 80px;
}

.TopPadding140{
  padding-top: 140px;
}

.MarginUp{
  margin-top: -20px;
}

.Margin80{
  margin-top: 80px;
  margin-bottom: 80px;
}

.Margin100{
  margin-top: 100px;
}

.LaptopText{
  padding-top: 80px;
}

.IphoneImg{
  padding-top: 60px;
}

/*--Review Section--*/
.Quotes-icons-left {
  top: 100px;
  right: 100px;
}

.Quotes-icons-right {
  bottom: 100px;
  left: 100px;
}

.banner .banner-image{
  margin-bottom: -100px;
  margin-left: -14px;
}

.CardReview {
  /* Add shadows to create the "card" effect */
  box-shadow: 0px 2px 15px rgba(29, 29, 29, 0.12);
  border-radius: 5px;
  height: 396px;
  margin-top: 100px;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
}

.quotes {
  width: 721px;
  height: 366px;
  margin-bottom: 50px;
  background: white;
  position: relative;
}

.quotes .top-quote{
  position: absolute;
  top: -40px;
  left: -20px;
}

.quotes .bottom-quote{
  position: absolute;
  bottom: -40px;
  right: -20px;
}

    /*--Modify Text--*/

.CenterText {
      text-align: center;
}

.BlackText{
  color: #1D1D1D;
}

.WhiteText{
  color: #FFFFFF;
}

.BlackoutWhite {
  background-color: black;
  color: white;
  display: inline-block;
  padding: 10px 10px 5px 10px;
}

.BlackoutYellow {
  color: #FEE315;
  transform: rotate(4deg);
}

.BlackoutYellowFlat {
  color: #FEE315;
}

.BlackoutYellow2 {
  color: #FEE315;
  transform: rotate(-4deg);
}

    /*--Modify Color--*/
.GUNyellow {
  background: rgb(254, 227,21)
}

.YellowBG {
  width:100%;
  height:300px;
  background-color:#FEE315;
  position: absolute;
  z-index: -100;
}


/*--Modify Bootstrap Code--*/
.btn-outline-dark{
  border-radius: 30px;
  border: 3px solid #000000;
  font-family: 'Mitr', sans-serif;
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  padding: 10px 30px;
}

.btn-yellow{
  border-radius: 30px;
  font-family: 'Mitr', sans-serif;
  background-color: #FEE315;
  font-size: 20px;
  font-weight: 400;
  padding: 10px 30px;
  margin-bottom: 60px;
}


/*--Section--*/
.banner{
  background-color:#FEE315;
  padding-top: 67px;
}

.footer{
  background-color:#1D1D1D;
  padding-top: 55px;
}

.footer .footer-image{
  width: 284px;
  padding-bottom: 45px;
}

.footer .footer-logo{
  width: 300px;
  padding-bottom: 30px;
}

.Reviewbanner{
  background-color:#FEE315;
  padding-top: 70px;
  padding-bottom: 100px;
}

.reviewtitle{
  margin-bottom: -50px;
}

.content{
  padding-top: 130px;
}

.service-icons .child{
  display: inline-block;
  margin-left: 20px;
  padding-top: 13px;
}

.AdditionalService {
  padding-top: 80px;
}


/*---Additional Bootstrap Code---*/

/* .carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
} */


/*---Responsive (Bootstrap Standard)---*/
/* Only Large devices (LG) */
@media only screen and (min-width: 993px) {
  .banner-mobile{
    display: none;
  }
  .banner-text{
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
/* Only Medium devices (MD) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .banner-mobile{
    display: none;
  }
  .banner-text{
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
/* Only Small devices (SM) */
@media only screen and (min-width: 577px) and (max-width: 768px) {
  /* SM Banner */
  .banner{
    padding-top: 50px;
  }
  .banner .banner-desktop{
    display: none;
  }
  .banner .banner-mobile{
    display: block;
  }
  .banner .banner-mobile .GUNlogo{
    width: 280px;
  }
  .banner .banner-mobile .BlackoutWhite{
    padding: 8px 20px 5px 20px;
  }
  .banner .banner-mobile .BlackoutWhite-2{
    padding-left: 0px;
    margin-left: -15px
  }
  .banner .banner-mobile p{
    margin-top: 20px;
  }
  .banner .banner-image{
    margin: 30px auto -200px auto;
    width: auto;
    display: block;
  }
  .logo{
    display: block;
  }

  /* SM Content */
  .content{
    padding-top: 220px;
  }
  .content .service-icons {
    text-align: center;
  }
  .content .service-icons .item{
    margin-bottom: 40px;
  }
  .content .service-icons .item img{
    width: 100px;
  }
  .content .center-title {
    margin: auto;
    width: 90%;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .content .LaptopText{
    padding-top: 30px;
  }

  .content .LaptopImg{
    padding-top: 30px;
  }

  .content .IphoneText{
    margin-top: 100px;
  }

  .content .IphoneImg{
    padding-top: 30px;
    margin-top: 100px;
  }

  .content .CoffeeImg{
    padding-top: 30px;
    margin-top: 80px;
  }

  .content .CoffeeText{
    margin-top: 80px;
  }

  .content .IphoneImg-mobile{
    display: none;
  }
  .content .IphoneImg-tablet{
    display: block;
  }

  .content .AdditionalService{
    padding-top: 0px;
  }

  .content .AdditionalService img{
    width: 100px;
  }

  .content .AdditionalService .col-sm-6{
    padding-left: 30px;
    padding-right: 30px;
  }

  .content .AdditionalService .card-title{
    padding-top: 40px;
  }

  .content .AdditionalService .Card{
    padding: 20px;
    margin-bottom: 40px;
  }

  .content .Team .team-member{
    display: block;
    margin: 10px auto;
    width: 240px;
  }
  .content .Team .team-member img{
    width: 200px;
  }

  /* SM Review Banner */
  .Reviewbanner{
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 60px;
    margin-top: -80px;
  }
  .Reviewbanner .CardReview{
    padding: 30px;
    width: auto;
    height: auto;
    margin: 10px 30px;
  }
  .Reviewbanner .quotes .top-quote{
    width: 40px;
    top:-30px;
  }
  .Reviewbanner .quotes .bottom-quote{
    width: 40px;
    bottom:-30px;
  }

}
/* Only Extra Small devices (XS) */
@media only screen and (max-width: 576px) {
  p{
    font-size: 18px;
  }
  .mobile-only{
    display: block;
  }
  .destkop-only{
    display: none;
  }

  /* XS Banner */
  .banner{
    padding-top: 60px;
  }
  .banner .banner-desktop{
    display: none;
  }
  .banner .banner-mobile{
    display: block;
  }
  .banner .banner-mobile .GUNlogo{
    width: 260px;
    margin-bottom: 20px;
  }
  .banner .banner-mobile .BlackoutWhite{
    padding: 8px 20px 5px 20px;
  }
  .banner .banner-mobile p{
    margin-top: 20px;
  }
  .banner .banner-image{
    margin: 60px auto -200px auto;
    display: block;
  }

  /* XS Content */
  .content{
    padding-top: 220px;
  }
  .content .service-icons {
    text-align: center;
  }
  .content .service-icons .item{
    margin-bottom: 40px;
  }
  .content .service-icons .item img{
    width: 120px;
  }
  .content .center-title {
    margin: auto;
    width: 90%;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .content .LaptopText{
    padding-top: 0px;
  }
  .content .CoffeeImg{
    padding-top: 60px;
  }
  .content .IphoneImg-mobile{
    display: block;
  }
  .content .IphoneImg-tablet{
    display: none;
  }
  .content .AdditionalService{
    padding-top: 0px;
  }
  .content .AdditionalService .row{
    padding-top: 0px;
    margin: 0px;
  }
  .content .AdditionalService img{
    width: 100px;
  }
  .content .AdditionalService .Card{
    padding: 30px;
    margin-bottom: 40px;
  }
  .content .Team{
    text-align: center;
  }
  .content .Team .row{
    margin: 0px;
    padding: 0px;
  }
  .content .Team .team-member{
    display: block;
    margin: 10px auto;
    width: 240px;
  }
  .content .Team .team-member img{
    width: 150px;
  }
  .content .Review-title{
    font-size: 30px;
  }

  /* XS Review Banner */
  .Reviewbanner{
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: -80px;
  }
  .Reviewbanner .CardReview{
    padding: 30px;
    width: auto;
    height: auto;
    margin: 10px 30px;
  }
  .Reviewbanner .quotes .top-quote{
    width: 40px;
    top:-30px;
  }
  .Reviewbanner .quotes .bottom-quote{
    width: 40px;
    bottom:-30px;
  }

  /* XS Footer */
  .footer{
    padding: 50px 20px 10px 20px;
  }
  .footer h1{
    font-size: 30px;
  }
}
