.asterix {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}

.CenterText {
  text-align: center;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

/* .inner {
  overflow: hidden;
  width: 2000px;
} */

/* .child {
  float: left;
  margin-left: 20px;
} */

.BlackoutWhite {
  background-color: black;
  color: white;
  width: 440px;
  padding-top: 10px;
}

.BlackoutYellow {
  color: #FEE315;
  transform: rotate(4deg);
}

.BlackoutYellowFlat {
  color: #FEE315;
}

.BlackoutYellow2 {
  color: #FEE315;
  transform: rotate(-4deg);
}

.GUNlogo {
  margin-bottom: 15px;
}

.GUNyellow {
  background: rgb(254, 227,21)
}

.YellowBG {
  width:100%;
  height:300px;
  background-color:#FEE315;
  position: absolute;
  z-index: -100;
}

/*--Modify Fundamental Code--*/
h1{
  font-family: 'Mitr', sans-serif; font-size: 40px;
  }

h1 span {
  background-color: black;
  padding-left: 10px;
  padding-right: 10px;
}

h2{
  font-family: 'Mitr', sans-serif; font-size: 30px;
  padding-top: 10px;
  padding-bottom: 5px;
  color: #1D1D1D;
  }

h3{
  font-family: 'Mitr', sans-serif; font-size: 30px;
  }

  h3 {
     width: 100%;
     text-align: center;
     border-bottom: 1px solid #000;
     line-height: 0.1em;
     margin: 10px 0 20px;
  }

  h3 Span {
      background:#fff;
      padding:0 10px;
  }

  h4{
    font-family: 'Mitr', sans-serif; font-size: 20px;
    }

p{
  font-family: 'Sarabun', sans-serif; font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #1D1D1D;
  }

/*--Modify Bootstrap Code--*/
.btn-outline-dark{
  border-radius: 30px;
  border: 2px solid #000000;
  font-family: 'Mitr', sans-serif;
  color: #000000;
  font-size: 20px;
  padding: 10px 30px;
}

.BlackText{
  color: #1D1D1D;
}

/*--Section--*/
.banner{
  background-color:#FEE315;
  padding-top: 67px;
}

.footer{
  background-color:#1D1D1D;
  padding-top: 55px;
}

.footer .footer-image{
  width: 284px;
  padding-bottom: 45px;
}

.Reviewbanner{
  background-color:#FEE315;
  padding-top: 70px;
  padding-bottom: 100px;
}


.reviewtitle{
  margin-bottom: -50px;
}

.Quotes-icons-left {
  top: 100px;
  right: 100px;
}

.Quotes-icons-right {
  bottom: 100px;
  left: 100px;
}

.banner .banner-image{
  width: 500px;
  margin-bottom: -100px;
  margin-left: -14px;
}
.content{
  padding-top: 130px;
}
.service-icons .child{
  display: inline-block;
  margin-left: 20px;
  padding-top: 13px;
}

.AdditionalService {
  padding-top: 80px;
}

/*--Others--*/
.TopPadding40{
  padding-top: 40px;
}

.TopPadding80{
  padding-top: 80px;
}

.TopPadding140{
  padding-top: 140px;
}

.Margin80{
  margin-top: 80px;
  margin-bottom: 80px;
}

.Margin100{
  margin-top: 100px;
}

.LaptopText{
  padding-top: 80px;
}

.IphoneImg{
  padding-top: 60px;
}

.Card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0px 2px 15px rgba(29, 29, 29, 0.12);
  border-radius: 5px;
  height: 396px;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.CardReview {
  /* Add shadows to create the "card" effect */
  box-shadow: 0px 2px 15px rgba(29, 29, 29, 0.12);
  border-radius: 5px;
  height: 396px;
  margin-top: 100px;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
}

.quotes {
  width: 721px;
  height: 366px;
  margin-bottom: 50px;
  background: white;
  position: relative;
}

.quotes .top-quote{
  position: absolute;
  top: -40px;
  left: -20px;
}

.quotes .bottom-quote{
  position: absolute;
  bottom: -40px;
  right: -20px;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
